<!DOCTYPE html>
<html>
<head>

</head>

<body>
  
  <div id='chart' class='span4'>
    
  </div>

  <script>
    var stats = new Array(<%= ratings %>);
    document.write(stats[0]);
  </script>
  
</body>
</html>
